body {
    font-family: 'Poppins', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    background-color: #5e5b5bad;
    color: #333333;
}

body .modo-escuro {
    background-color: #000000;
    color: whitesmoke;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px;
}

header .logo,
header .imagem-botao {
    width: 30px;
}

header .logo:hover,
.imagem-botao:hover,
main .cartao-pokemon:hover,
header .logo:hover {
    transform: scale(1.02);
    cursor: pointer;
}

header button {
    background: none;
    cursor: pointer;
    border: none;
}

main {
    background-color: none;
    padding: 25px;
}

main .listagem-pokemon {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

main .cartao-pokemon {
    display: flex;
    background-color: #d8e3ec;
    width: 200px;
    height: 350px;
    padding: 15px;
    gap: 15;
    justify-content: none;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    transition: 0.2s ease-in-out;
}

main .cartao-pokemon:hover {
    background-color: #96d9d6;
}

.modo-escuro .cartao-pokemon {
    background-color: #a8a8a8;
}

main .cartao-pokemon .informacoes {
    display: flex;
    justify-content: space-between;
    border-width: 1px;
    border-style: solid;
    border-color: #333333;
    border-radius: 10px;
}

main .cartao-pokemon .informacoes span {
    padding: 5px;
    text-transform: uppercase;
    font-size: 17px;
}

main .cartao-pokemon .gif {
    width: 90px;
    height: 90px;
    background-color: none;
    margin: 10px;
}

main .cartao-pokemon .tipos {
    display: flex;
    padding: none;
    gap: 15px;
}

main .cartao-pokemon .tipo {
    padding: 8px;
    border-radius: 10px;
}

.grama {
    background-color: #7ac74c;
}

.veneno {
    background-color: #df67ddfb;
}

.fogo {
    background-color: #ee8130;
}

.Agua {
    background-color: #6390f0;
}

.inseto {
    background-color: #a6b91a;
}

main .descricao {
    margin-top: 20px;
    max-height: 80px;
    overflow-y: scroll;
}


footer p {
    display: flex;
    justify-content: center;
    padding: 25px;
    flex-wrap: wrap;
}